.book-wrapper {
  padding: 10px 0;
  width: 600px;
  margin: auto;
  .thumb {
    max-width: 100px;
  }
  .info {
    padding: 0 20px;
    width: 320px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    h3 { margin: 0px; }
  }
  .status {
    padding: 10px 10px 0 0;
  }
}

.show-cover {
  h2 {
    font-weight: normal;
    font-style: normal;
    margin-bottom: 20px;
  }
}
