.book-wrapper {
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  width: 640px;
  margin: auto;
  .thumb {
    max-width: 100px;
  }
  .info {
    padding: 0 20px;
    width: 320px;
    h3 { margin: 0px; }
  }
  .status {
    padding-top: 10px;
    a.dropdown-toggle { cursor: pointer; }
    a.dropdown-toggle:hover { text-decoration: none; }
    .dropdown-menu {
      right: -6px;
      top: 25px;
      a:hover { background: #996633; }
    }
  }
}

.book-wrapper + .book-wrapper {
  margin-top: 20px;
}

.show-cover {
  h2 {
    font-weight: normal;
    font-style: normal;
    margin-bottom: 20px;
  }
}
